/* ==========================================
   TABLET
========================================== */

@media (max-width:768px){

    .table-header{
        flex-direction:column;
        gap:20px;
    }

    .search-box{
        width:100%;
    }

    .title-box h2{
        font-size:32px;
    }

}

/* ==========================================
   MOBILE
========================================== */

@media (max-width:576px){

    .login-box,
    .vote-box,
    .result-box-container,
    .manage-box{
        width:95%;
        padding:20px;
    }

    .login-box h2,
    .vote-box h2,
    .result-box-container h2{
        font-size:30px;
    }

    .party-btn{
        font-size:15px;
        padding:10px;
    }

    .party-logo{
        width:40px;
        height:40px;
    }

    .result-box{
        flex-direction:column;
        gap:15px;
        text-align:center;
    }

    .party-info{
        flex-direction:column;
        gap:10px;
    }

    .party-result{
        gap:15px;
    }

    .vertical-line{
        display:none;
    }

    .voter-table{
        font-size:14px;
    }

    .voter-table th,
    .voter-table td{
        padding:10px 6px;
        font-size:13px;
    }

    .table-box{
        overflow-x:auto;
    }

    .search-box{
        width:100%;
    }

    .title-box{
        flex-direction:column;
        text-align:center;
    }

    .title-box h2{
        font-size:28px;
    }

}